<hr>
<p>
  {{quotes.quote}}
</p>

<ul>

  <h6 class="card-subtitle mb-2 "> - {{quotes.author}} <span id="when">Posted:
      {{quotes.completeDate|dateCount}} days ago.</span> </h6>
  <li> posted by: {{quotes.name}} </li>

</ul>

<div class="container-fluid " id="buttons ">
 
  <button class="btn btn-sm btn-success" (click)='upVote()'>{{quotes.upvote}} <i id="upvote"></i>upvote</button>

<button class="btn btn-sm btn-warning" id="downvote" (click)='downVote()'>{{quotes.downvote }} <i
    id="dislike"></i>downvote</button>
<button (click)=' deleteQuote(true)' class="btn btn-sm btn-danger" id="delete">Delete Quote</button>

</div>
<hr>